.git
.gitignore
*.md
.env
.env.*
!.env.ecs
.vscode
.idea
node_modules
__pycache__
*.pyc
*.log
dist
deploy/k8s
deploy/env
deploy/deploy-ack.ps1
deploy/deploy.ps1
docker-compose.yml
docker-compose.prod.yml
